
     /* FF9966 = oranžovo-hnìdá = defaultní pro kraje*/  
              body {background-color:#FF9966; margin-left:15px; font-family:Arial;}
                                            
              h2 {font-family:Arial; font-weight: bold;  color:rgb(51,0,204); text-align:center; margin-top:25px; margin-bottom:35px;
              font-size:122%; letter-spacing:0.4px; word-spacing:1px;   }
              
              h1 {font-weight: bold; font-size:105%;text-decoration: none; text-align:justify; margin-top:30px; margin-bottom:10px; margin-left:15px; margin-right:45px;}
              
              p {font-family:Arial;text-decoration:none;padding-right:25px;text-align:justify; margin-left:15px}
              
              td {padding: 2px 6px;}
                                           
    #hoverOK a:hover{background-color:#FF9966; text-decoration:none; color:blue} 
                    
          a  {text-decoration:none;  font-weight:bold; font-size:98%; color: rgb(0,0,204) }  
                 
               a:hover {background-color:blue; color:white;  } 
           
              #text-kraj {font-family:"Arial";font-size:113%;text-align:justify;margin-top:20px; padding:5px 100px 5px 50px; }
              
              #text-kraj a  {  font-weight:bold; font-size:95%; color:blue  }
              
        #text-kraj a:hover {background-color:blue; color:white;  } 
              
               h3 {padding: 25px 0 0 0; font-size:150%;color:rgb(102,0,255); margin-left:15px; letter-spacing:3px; word-spacing:2px; text-align: center; margin-bottom:-15px} 
               
  em {font-size:95%; margin-left:15px; font-style:italic;  }
  
  p.em {font-size:96%; margin-left:15px; font-style:italic; margin-top: 4px  }
          
                        /* FFFF99 je defaultní béžová */
               #Obal{width:100%; margin:0; background-color:#FFFF99;}
               
               #Obal-kraj{width:100%; margin-left:20px; margin-right:12px}
               
                                  /* FF6699 = broskvová horní */
               #Zahlavi{width:100%; height:360px; background-color:#FF6699; padding:0; padding-bottom:10px           }
               
               /* tmavì rùžový proužek v záhlaví krajù */
        #Zahlavi-kraj{width:104%; margin-left:-20px; height:200px; background-color:rgb(224,112,127)}
               
               /*FFFF99 = béžová */
               #Hlavni{width:100%; float:left; background-color:#FFFF99;}
               #Navigace{margin:0; padding:0; float:left; background-color:#FFFF99;margin-left:8px;}
                                                      
                    /*        ladìní: snížení margin-top z pùvodních 42px* z Navig-ul vyndáno margin-left:15 px; */
    #Navigace ul{ margin:0; padding:0; list-style-type:none;  margin-top:0}
    
    /* width udává šíøku rámeèku, FFCC66 je okrová pro lištu */
#Navigace li {	margin: 0;     	padding: 0;    	padding-left: 10px;        	margin-left: 20px;    	background-color: #FFCC66;   	border: solid black;   	border-width: 1px 1px 0px 1px;      	padding: 6px 0px 5px 6px;    	font-family: "Arial";   	text-align: left;              	width: 216px;       }

#Navigace li.odkaz {    	padding-left: 15px;   	padding-right: 5px  }

                     /* dìlení Žilinského kraje */
#Navigace li.odkaz2 {        	padding-left: 15px;    	padding-right: 5px;       	color: blue  }
                      
#Navigace li.soucet { 	color: rgb(0,0,102);    	font-weight: bold;    	letter-spacing: 1px;
	font-size: 99%;      	padding-left: 15px;     	width: 221px;           }
  
#Navigace li.soucet1 { 	border-bottom: 1px solid;   	color: rgb(0,0,102);    	font-weight: bold;
	letter-spacing: 1px;   	font-size: 99%;       	padding-left: 10px;     	width: 226px;             }
  
#Navigace li.Veze4 {  	font-weight: bold;   	color: rgb(0,0,102);    	letter-spacing: 4px;   	background-color: #FF6699;      
       	padding-left: 15px;    	padding-right: 10px;       	width: 211px;      	text-align: center;       }
        
#Navigace  li.Veze6 {       	font-weight: bold;       	color: rgb(0,0,102);     	letter-spacing: 7px;                          
       	background-color: #FF6699;  	padding-left: 15px;   	padding-right: 10px; 	width: 211px;    	text-align: center;  }
        
#Navigace .spodni {     	border-bottom: 1px solid;     }                              

#Navigace a {	color: blue;         	font-size: 99%;         	font-weight: bold;     	text-decoration: none;
	display: block;    	height: 20px;              	padding-right: 5px    }
/* ladìní - height:pùvodnì 100%, tohle funguje                 width 220 px (pùvodnì  200)*/

#Navigace a:hover {      	background-color: #FF3366;     	color: white;  }
               
              #Obsah{width:75%; margin:15px 30px 0px 255px; background-color:#FFFF99}     
                /* horní - pravý - spodní - levý ladìní - procentní šíøka 75 % se zobrazila pouze v Exploreru, proto zmìnìno na pevnou šíøku 720 px*/
               #Zapati{width:108%;background-color:#FF6699;float:left;text-align:center;padding-top:8px;padding-bottom:15px; margin-bottom:0px}
               
               #Zahlavi .spodni-lista {  	text-align: center;     	font-weight: bold;   	letter-spacing: 2px;   	font-size: 125%;   	color: rgb(0,0,102);   	padding: 0;         	margin: 0;      	padding-bottom: 30px; }
                       
               img {margin:5px 10px 10px 15px;} 
               
          .mensi-pismo  {font-size: 118%; letter-spacing:2px; word-spacing:1px;}
                                
             .fialova {margin: 20px 0 40px 15px; color:#660099; font-size:100%;}
               
               .cervena {margin: 20px 0 40px 15px; color:rgb(255,51,102); font-size:130%; font-weight:bold}
               
           li{text-align:justify; padding-left:15px; padding-top:3px;margin-right:15px; font-family:"Arial"; margin-left:15px}
               
               .neobtekat{clear:both; margin-left:15px; margin-top:15px; text-align:justify; padding-right:50px;}
               
               .neobtekat1{clear:both; margin-left:15px; margin-top:-10px; font-size:94%; font-style:italic}           
                               
                /* rozteèe odshora, odspoda mám upraveny v Prešovském */
     #obrazek-hlavni img{float:left; margin:0; margin:  0 45px 15px 15px; padding:0; padding-top:7px;       }
                                                              
     #obrazek-hlavni-zprava img{float:right; margin-left:45px; margin-bottom:22px; margin-right:120px; padding-bottom:2px;}
                
     #obrazek-hlavni-zprava90 img{float:right; margin-left:45px; margin-bottom:22px; margin-right:90px; padding-bottom:2px;}
               
     .umisteni {font-size:100%; font-weight:bold; margin-top:54px}
                                  
        img.valid {margin:0; margin-bottom:-8px; margin-left:-1px; margin-right:-5px}  
               
     h5 {text-align:center; font-size:xx-large; font-weight:bold; letter-spacing:3px; margin-top:3px; margin-bottom:0px; padding: 0}
               
          .prouzek   { margin:0; padding:0; margin-top:22px; background-color:rgb(102,204,255); display:block; height: 35px; padding-top:12px; text-align:center;   font-weight:bold; font-size:140%; letter-spacing:1.5px; margin-left:-15px; margin-right:-10px  }
 
 strong {font-size:98%}
 
  .prvni {
  display: flex;
  justify-content: center; /* Zarovnání na střed */ 
}

.prvni img {
  flex-shrink: 0;
width: 120px;
  height: auto;
}

/* Upravit styly pro mobilní zařízení */
@media (max-width: 600px) {
  .prvni {
    justify-content: flex-start; /* Zarovnání doleva */
    overflow-x: auto;
  }
.prvni img {
  margin-left:10px 
}
 } 
  .odsadit {margin-left:5px}
  .odsadit2 {margin-left:15px}
  .posledni {margin-right:12px}

.dole {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20px;
	}


                                 /*
  @media screen and (max-width: 768px) { #Obal {width: 760px;}    
                                         #Obal-kraj {width: 760px;}    
                                        #Zahlavi {width: 760px;}    
                                         #Zahlavi-kraj {width: 760px;}    
                                          #Hlavni{width: 760px;}    
                                            #Zapati {width: 760px;}    
                                             #Zahlavi {width: 760px;}    
                                            #Obsah{width: 570px;}          }
                                            
  @media screen and (max-width: 600px) { #Obal {width: 592px;}    
                                         #Obal-kraj {width: 592px;}    
                                        #Zahlavi {width: 592px;}    
                                         #Zahlavi-kraj {width: 592px;}    
                                          #Hlavni{width: 592px;}    
                                            #Zapati {width: 592px;}    
                                             #Zahlavi {width: 592px;}    
                                            #Obsah{width: 450px;}          }     */                                   
